.nR {
  width: 100%;
  display: flex;
  &_container {
    width: 100%;
    height: max-content;
    padding-bottom: 160px;
    padding-top: 44px;
    display: flex;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 768px) {
      padding: 44px 16px 100px 16px;
    }
  }
  &_backButton {
    position: absolute;
    top: 85px;
    left: 5%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: var(--gray-dark3);
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
  &_subContainer {
    max-width: 655px;
    width: 655px;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      width: 100%;
    }
  }
  &_details {
    height: unset;
    max-height: 73vh;
    width: 1px;
    position: sticky;
    top: 80px;
    right: 375px;
    margin-top: 50px;
    z-index: 50;
  }
  &_header {
    padding: 36px 0px 24px 0px;
    position: relative;
    @media screen and (max-width: 768px) {
      padding: 22px 0px 0px 0px;
    }
    &_colorSwitcher {
      max-width: 30px;
      max-height: 30px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      position: relative;
      position: absolute;
      top: 20px;
      right: 20px;
      border: 2px solid var(--green-dark2);
      cursor: pointer;

      overflow: visible;

      span {
        font-size: 9px;
        position: absolute;
        bottom: -16px;
        left: -8px;
      }
    }
    &_text {
      font-family: "Poppins";
      font-size: 28px;
      font-weight: 500;
      line-height: 33.6px;
      text-align: left;
      margin-bottom: 12px;
      color: var(--black);
      position: relative;
      @media screen and (max-width: 990px) {
        text-align: center;
      }
      @media screen and (max-width: 768px) {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        margin-bottom: 18px;
      }
      &_button {
        display: none;
        @media screen and (max-width: 1200px) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 36px;
          background-color: var(--gray-light);
          border-radius: 6px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -80px;
          img {
            width: 16px;
            height: 16px;
          }
        }
        @media screen and (max-width: 990px) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 36px;
          background-color: var(--gray-light);
          border-radius: 6px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    &_subText {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: left;
      color: var(--gray-dark3);
      @media screen and (max-width: 768px) {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        letter-spacing: 0.01em;
        text-align: left;
      }
    }
    &_info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      color: var(--gray-dark);
      text-align: left;
      padding-bottom: 15px;
      span {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--black);
      }
    }
    margin-bottom: 24px;
  }
  &_content {
    display: flex;
    gap: 16px;
    padding: 0px 0px 0px 0px;
  }
  &_formContainer {
    flex: 1;
    background-color: var(--white);
    border-radius: 16px;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @media screen and (max-width: 768px) {
      gap: 36px;
    }
    &_buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 36px;
      text-decoration: none;
      a {
        text-decoration: none;
      }
      &_next {
        width: 237px;
        height: 47px;
        border-radius: 10px;
        background-color: var(--gray-light3);
        color: var(--white);
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      &_back {
        width: 193px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        border-radius: 10px;
        border: 2px solid var(--gray-light3);
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: center;
        color: var(--gray-dark);
        cursor: pointer;
      }
    }
    &_error {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: left;
      color: var(--red-dark);
      background-color: var(--red-light);
      padding: 10px 18px;
      border-radius: 10px;
      margin-top: 20px;
      @media screen and (max-width: 768px) {
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        color: var(--red-dark);
        background-color: var(--red-light);
        padding: 10px 11px;
        border-radius: 10px;
        margin-top: 15px;
      }
    }
    &_back {
      width: 133px;
      height: 48px;
      border-radius: 10px;
      border: 1px solid var(--gray-light7);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 17.6px;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--gray-dark);
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      transition-duration: 0.3s;
      padding-right: 22px;
      padding-left: 12px;
    }
    &_back:hover {
      transform: scale(1.03);
    }
    &_buttons {
      display: flex;
      align-items: center;
      &_details {
        transition-duration: 0.3s;
        width: 190px;
        height: 48px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--gray-dark);
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
      }
      &_details:hover {
        transform: scale(1.03);
      }
      &_container {
        display: flex;
        gap: 16px;
      }
      &_save {
        width: 48px;
        height: 48px;
        border-radius: 10px;
        border: 1px solid var(--gray-light7);
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &_divider {
        height: 24px;
        width: 1px;
        min-width: 1px;
        background-color: var(--gray-light7);
        margin: 0px 16px;
      }
      &_delivery {
        transition-duration: 0.3s;
        width: 100px;
        height: 48px;
        border-radius: 10px;
        background-color: var(--black);
        color: var(--white);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: center;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 22px;
        padding-right: 12px;
        cursor: pointer;
      }
      &_delivery:hover {
        transform: scale(1.03);
      }
      &_deliveryDisabled {
        opacity: 0.85;
        cursor: not-allowed;
      }
      &_deliveryDisabled:hover {
        transform: none;
      }
    }
  }
  &_inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  &_inputContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    &_header {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 17.6px;
      letter-spacing: 0.02em;
      text-align: left;
      color: var(--gray-dark);
      span {
        //styleName: Large screens/Body/Caption Regular;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        color: var(--gray-dark3);
        text-align: left;
      }
      @media screen and (max-width: 768px) {
        //styleName: Large screens/Heading/Heading 4;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: left;
      }
    }
    &_input {
      width: 100%;
      height: 40px;
      border-radius: 6px;
      border: 1px solid var(--gray-light7);
      padding: 0px 16px;
      display: flex;
      align-items: center;
      font-family: Inter;
      font-size: 14px;
      font-weight: 600;
      line-height: 16.8px;
      text-align: left;
      margin-top: 12px;

      text-align: left;
      color: var(--gray-dark);
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    &_input::placeholder {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      color: var(--gray-light5);
    }
    &_input:focus {
      border: 1px solid var(--black);
      outline: none;
    }
    &_checkboxes {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;
      margin-top: 12px;
      padding-bottom: 4px;
      @media screen and (max-width: 768px) {
        align-items: flex-start;
        justify-content: space-between;
        gap: 4px;
      }
    }
    &_checkbox {
      display: flex;
      align-items: center;
      gap: 12px;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: left;
      color: var(--gray-dark);
      user-select: none;
      cursor: pointer;
      min-width: 48%;
      @media screen and (max-width: 768px) {
        height: 35px;
        min-width: 166px;
        font-size: 15px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
      }
    }
    &_error {
      margin-top: 4px;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      color: var(--red-dark);
      position: absolute;
      bottom: -21px;
    }
  }
  &_shotList {
    width: 100%;
    &_header {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 17.6px;
      letter-spacing: 0.02em;
      text-align: left;
      margin-bottom: 12px;
      color: var(--black);
      @media screen and (max-width: 768px) {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: left;
      }
    }
    &_textArea {
      width: 100%;
      height: 180px;
      resize: none;
      padding: 12px 16px;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--gray-dark);
      border: 1px solid var(--gray-light7);
      border-radius: 8px;
    }
    &_textArea:focus {
      border: 1px solid var(--black);
      outline: none;
    }
    &_textArea::placeholder {
      //styleName: Large screens/Body/Content Regular;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--gray-light5);
    }
    &_editorContainer {
      width: 100%;
      height: 170px;
      border: 1px solid var(--gray-light8);
      border-radius: 12px;
    }
    &_iconDivider {
      margin-right: 30px !important;
      position: relative !important;
    }
    &_iconDivider::after {
      content: " ";
      background-color: var(--gray-light3) !important ;
      width: 1px !important;
      height: 15px;
      position: absolute;
      right: -15px;
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 63px;
  height: 63px;
  cursor: pointer;
  transition-duration: 0.2s;
  user-select: none;
  width: 100%;
  position: relative;
  min-width: 255px;
  &_error {
    min-height: 80px;
  }
  &_header {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: var(--gray-dark);
  }
  &__selected {
    z-index: 5;
    min-height: 41px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid var(--gray-light3);
    color: var(--gray-dark);
    position: relative;
    padding-right: 15px;
    &_error {
      border: 1px solid var(--red);
    }
    &_name {
      width: 100%;
      text-align: left;
      padding: 0px 10px;
      span {
        color: var(--gray-light5);
      }
    }
    &__itemArrow {
      height: 25px;
      width: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    &_arrow {
      top: 50%;
      right: 5px;
      position: absolute;
      transform: translateY(-50%);
      transition-duration: 0.3s;
    }
    &_arrowOpened {
      transform: translateY(-50%) rotate(180deg);
    }
    &_errorMessage {
      position: absolute;
      bottom: -25px;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      color: var(--red);
    }
    &_collapseIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      transition-duration: 0.3s;
      &_opened {
        transform: rotate(180deg);
      }
    }
  }
  &__itemsContainer {
    background-color: var(--white);
    min-height: 205px;
    max-height: 205px;
    height: 205px;
    z-index: 10;
    overflow: scroll;

    border-radius: 6px;
    border: 1px solid rgba(99, 89, 154, 1);
  }
}
.typeDropdown {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 40px;
  min-height: 63px;
  height: 63px;
  cursor: pointer;
  transition-duration: 0.2s;
  user-select: none;
  width: 100%;
  position: relative;
  min-width: 246px;
  @media screen and (max-width: 768px) {
    min-width: unset;
    height: unset;
  }
  &_header {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--gray-dark);
    @media screen and (max-width: 768px) {
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      letter-spacing: 0.02em;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 3px;
      //styleName: Large screens/Heading/Heading 4;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 17.6px;
      letter-spacing: 0.02em;
      text-align: left;
    }
  }
  &__selected {
    z-index: 5;
    width: 100%;
    display: flex;
    min-height: 40px;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid var(--gray-light3);
    color: var(--gray-dark);
    position: relative;
    padding-right: 15px;

    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--gray-light7);
    padding: 0px 16px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: left;
    text-align: left;
    color: var(--gray-dark);
    &_error {
      border: 1px solid var(--red);
    }
    &_name {
      width: 100%;
      text-align: left;
      span {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        color: var(--gray-light5);
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
      @media screen and (max-width: 768px) {
        font-size: 16px;
        padding: 0;
      }
    }
    &__itemArrow {
      height: 25px;
      width: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    &_arrow {
      top: 50%;
      right: 5px;
      position: absolute;
      transform: translateY(-50%);
      transition-duration: 0.3s;
    }
    &_arrowOpened {
      transform: translateY(-50%) rotate(180deg);
    }
    &_errorMessage {
      position: absolute;
      bottom: -21px;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      color: var(--red-dark);
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      width: 100%;
    }
    &_collapseIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      transition-duration: 0.3s;
      &_opened {
        transform: rotate(180deg);
      }
    }
  }
  &__itemsContainer {
    min-height: 287px;
    max-height: 287px;
    height: 287px;
    z-index: 10;
    overflow: scroll;
    border-radius: 6px;
    border: 1px solid var(--gray-light3);
    position: absolute;
    bottom: -297px;
    width: 100%;
    background-color: var(--white);
  }
  &__item {
    z-index: 6;
    min-height: 41px;
    width: 100%;
    display: flex;
    font-family: Inter;
    flex-direction: column;
    justify-content: center;
    color: var(--gray-dark);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    &_name {
      width: 100%;
      text-align: left;
      padding: 0px 10px;
      font-size: 14px;
    }
    &__itemArrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
  &__item:hover {
    background: var(--gray-light8);
  }
}
.requestType {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.requestTypeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  @media screen and (max-width: 768px) {
    gap: 12px;
  }
  &_item {
    width: calc(50% - 8px);
    min-width: calc(50% - 8px);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--gray-dark);
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--gray-light7);
    border-radius: 8px;
    user-select: none;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: calc(50% - 12px);
      min-width: calc(50% - 12px);
      height: 42px;
    }
  }
}
