{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^redux",
    "^react-router",
    "<THIRD_PARTY_MODULES>",
    "^assets/",
    "^hooks/",
    "^utils/",
    "^consts/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
