.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background-color: var(--white);
    border-radius: 20px;
    width: 545px;
    display: flex;
    flex-direction: column;
    padding: 36px;
    &_forgot {
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.8px;
        text-align: left;
        color:var(--blue-dark);
        margin-bottom: 36px;
        cursor: pointer;
    }
    &_header {
        font-family: Poppins;
        font-size: 28px;
        font-weight: 500;
        line-height: 33.6px;
        text-align: left;
        color: var(--gray-dark);
        margin-bottom: 12px;
    }
    &_subHeader {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        color: var(--gray-dark3);
        margin-bottom: 24px;
    }
    &_inputContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;
        &_text {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            letter-spacing: 0.02em;
            text-align: left;
            width: 100%;
            display: flex;
            justify-content: space-between;
            span {
                font-family: Inter;
                font-size: 14px;
                font-weight: 600;
                line-height: 16.8px;
                text-align: left;
                color: var(--blue-dark);
                cursor: pointer;
            }
        }
        &_input {
            width: 100%;
            height: 40px;
            border: 1px solid var(--gray-light7);
            outline: none;
            border-radius: 8px;
            display: flex;
            align-items: center;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            padding: 0 16px;

            &:focus {
                border: 1px solid var(--black);
            }
        }
    }
    &_inputWrapper {
        position: relative;
    }
    &_inputImg {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &_rememberMe {
        display: flex;
        align-items: center;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 15.4px;
        text-align: left;
        gap: 6px;
        color: var(--gray-dark3);
        user-select: none;
        margin-bottom: 36px;
        cursor: pointer;
    }
    &_buttons {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 36px;
    }
    &_cancel {
        flex: 1;
        height: 48px;
        border: 1px solid var(--gray-light7);
        border-radius: 10px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--gray-dark);
        cursor: pointer;
    }
    &_login {
        flex: 1;
        height: 48px;
        border: 1px solid var(--gray-light7);
        background-color: var(--black);
        border-radius: 10px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        cursor: pointer;
    }
    &_text {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        color: var(--gray-dark3);
        span {
            font-family: Inter;
            font-size: 14px;
            font-weight: 600;
            line-height: 16.8px;
            text-align: left;
            color: var(--blue-dark);
        }
    }
}
