.auth {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  &_title {
    font-family: "Poppins";
    font-weight: 400;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  input {
    width: 300px;
    height: 45px;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 0 10px;
    font-family: "Poppins";
    font-weight: 400;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  &_button {
    font-family: "Poppins";
    font-weight: 400;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 150px;
    height: 45px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.3s;
  }
}
