.settings {
    width: 100%;

    &_header {
        font-family: Poppins;
        font-size: 28px;
        font-weight: 500;
        line-height: 33.6px;
        text-align: left;
        color: var(--black);
        margin-bottom: 12px;
        @media screen and (max-width: 768px) {
            font-family: Poppins;
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0%;
            margin-bottom: 16px;
        }
    }
    &_title {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: var(--gray-dark);
        margin-bottom: 8px;
        @media screen and (max-width: 768px) {
            font-family: Poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 17.6px;
            letter-spacing: 2%;
        }
    }
    &_subTitle {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--gray-dark3);
        margin-bottom: 8px;
        @media screen and (max-width: 768px) {
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 15.4px;
            letter-spacing: 0%;
        }
    }
    &_navigation {
        display: flex;
        align-items: center;
        gap: 6px;
        height: 37px;
        border-bottom: 1px solid var(--gray-light7);
        margin-bottom: 24px;
        padding-bottom: 3px;
        width: 100%;
        @media screen and (max-width: 768px) {
            overflow: scroll;
        }

        &_item {
            padding: 6px 16px;
            color: var(--gray-dark3);
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;
            cursor: pointer;
            white-space: nowrap;
        }
        &_selected {
            padding: 6px 16px;
            color: var(--gray-dark);
            font-family: Inter;
            font-size: 14px;
            font-weight: 600;
            line-height: 16.8px;
            text-align: left;
            background: var(--gray-light2);
            border-radius: 100px;
        }
    }
    &_text {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--gray-dark);
    }
    &_subText {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        color: var(--gray-dark3);
        margin-top: 3px;
    }
    &_text2 {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        color: var(--gray-dark3);
        margin-bottom: 24px;
        margin-top: 4px;
    }
    &_inputContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;
        flex: 1;
        input {
            width: 100%;
            height: 40px;
            border: 1px solid var(--gray-light7);
            outline: none;
            border-radius: 8px;
            display: flex;
            align-items: center;
            padding: 0 16px;
        }
        input:focus {
            border: 1px solid var(--black);
        }
    }
    &_inputContainer2 {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 1;
        input {
            width: 100%;
            height: 40px;
            border: 1px solid var(--gray-light7);
            outline: none;
            border-radius: 8px;
            display: flex;
            align-items: center;
            padding: 0 16px;
        }
        input:focus {
            border: 1px solid var(--black);
        }
    }
    &_container {
        margin-top: 24px;
        padding: 36px;
        padding-bottom: 12px;
        width: 100%;
        border-radius: 16px;
        background-color: var(--white);
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 12px;
        }
        &_column {
            flex: 1;
        }
        &_section {
            height: 125px;
            margin-bottom: 24px;
        }
        &_img {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 7px;
            @media screen and (max-width: 768px) {
                margin-bottom: 0px;
            }
            img {
                width: 64px;
                height: 64px;

                border-radius: 50%;
                overflow: hidden;
            }
            &_remove {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    &_passwordContainer {
        margin-top: 24px;
        padding: 36px;
        width: 100%;
        border-radius: 16px;
        background-color: var(--white);
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 24px;
        &_forgot {
            font-family: Inter;
            font-weight: 600;
            font-size: 14px;
            line-height: 16.8px;
            letter-spacing: 0%;
            color: var(--blue-dark);
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 12px;
            padding-bottom: 24px;
        }
    }
    &_passwords {
        display: flex;
        gap: 16px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    &_communicationContainer {
        margin-top: 24px;
        padding: 36px;
        width: 100%;
        border-radius: 16px;
        background-color: var(--white);
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 16px;
        @media screen and (max-width: 768px) {
            padding: 12px;
        }
    }
    &_drop {
        position: relative;
        width: 100%;
        padding: 24px 12px 24px 12px;
        height: 123px;
        border-radius: 12px;
        border: 2px dashed var(--gray-light7);
        background-color: var(--gray-light13);
        margin-bottom: 24px;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 12px;
        }
        &_error {
            border: 2px dashed var(--red-dark);
        }
        &_header {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;

            color: var(--gray-dark);
            margin-bottom: 24px;
            margin-top: 2px;
        }
        &_text {
            font-family: Inter;
            font-size: 14px;
            font-weight: 600;
            line-height: 16.8px;
            text-align: center;

            color: var(--gray-dark);
            margin: 12px 0px;
            margin-top: 4px;
            span {
                color: var(--blue-dark);
            }
        }
        &_text2 {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
            text-align: center;

            color: var(--gray-dark3);
        }
        &_text3 {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
            text-align: center;
            color: var(--gray-dark3);
        }
        &_divider {
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.2px;
            text-align: left;

            color: var(--gray-light5);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            padding: 5px 0px;
            margin-bottom: 24px;
            @media screen and (max-width: 768px) {
                margin-bottom: 12px;
            }
        }
        &_dividerLine {
            height: 1px;
            min-height: 1px;
            background-color: var(--gray-light7);
            flex: 1;
        }
        &_title {
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 16.8px;
            letter-spacing: 0.02em;
            text-align: left;

            color: var(--gray-dark3);
        }

        &_input {
            width: 100%;
            height: 40px;
            border-radius: 8px;
            padding: 10.5px 16px;
            border: 1px solid var(--gray-light7);
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;

            color: var(--gray-dark);
            margin-top: 4px;
            margin-bottom: 24px;
        }
        &_input::placeholder {
            color: var(--gray-light5);
        }
        &_input:focus {
            border: 1px solid var(--black);
            outline: none;
        }
    }
    &_sizes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 8px;
    }
    &_size {
        width: 67px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid var(--gray-light7);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        cursor: pointer;
        color: var(--gray-dark3);
        flex: 1;
    }
    &_buttons {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        @media screen and (max-width: 768px) {
            gap: 12px;
            flex-direction: column-reverse;
            height: unset;
            margin-bottom: 0px;
        }
        &_container {
            display: flex;
            align-items: center;
            gap: 16px;
            @media screen and (max-width: 768px) {
                align-items: unset;
                width: 100%;
                flex-direction: column;
                gap: 12px;
            }
        }
        &_delete {
            width: 158px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--red-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                flex: 1;
                min-height: 42px;
            }
        }
        &_cancel {
            padding: 0px 22px;
            height: 48px;
            border: 1px solid var(--gray-light7);
            border-radius: 10px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            letter-spacing: 0.02em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--gray-dark);
            cursor: pointer;
            @media screen and (max-width: 768px) {
                flex: 1;
                min-height: 42px;
            }
        }
        &_save {
            padding: 0px 22px;
            height: 48px;
            border: 1px solid var(--gray-light7);
            background-color: var(--black);

            border-radius: 10px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            letter-spacing: 0.02em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            cursor: pointer;
            @media screen and (max-width: 768px) {
                flex: 1;
                min-height: 42px;
            }
        }
    }
    &_closeButton {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid var(--gray-light7);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 32px;
        right: 36px;
        margin-bottom: 0 !important;
        cursor: pointer;
    }
    &_fotoContainer {
        @media screen and (max-width: 768px) {
            display: flex;
            align-items: center;
            height: 80px;
            gap: 24px;
        }
    }
    &_hideMob {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &_hideDesc {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    &_closeArea {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 360px);
    }
    &_sheetLine {
        width: 80px;
        height: 5px;
        background-color: var(--gray-light3);
        border-radius: 45px;
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
    }
    &_sheetMain {
        position: relative;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 100px;
        left: 0;
        pointer-events: auto !important;
    }
    &_sheet {
        pointer-events: auto !important;
        height: 360px !important;
        &_transfer {
            height: 560px !important;
        }
    }
    &_sheetInvite {
        pointer-events: auto !important;
        height: 440px !important;
    }
    &_sheetContainer {
        pointer-events: auto !important;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        padding: 32px 16px 16px 16px;
    }
    &_sheetFotoContainer {
        display: flex;
        align-items: center;
        gap: 12px;
        height: 56px;
        margin-bottom: 24px;
        img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    &_sheetInfoLine {
        display: flex;
        justify-content: space-between;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 15.4px;
        letter-spacing: 0%;
        color: var(--gray-dark3);
        margin-bottom: 12px;
        span {
            color: var(--gray-dark);
            text-decoration: none;
        }
    }
    &_sheetTransfer {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 17.6px;
        letter-spacing: 2%;
        text-align: center;
        width: 100%;
        height: 48px;
        border-radius: 10px;
        border: 1px solid var(--gray-light7);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        color: var(--gray-dark);
    }
    &_sheetDelete {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 17.6px;
        letter-spacing: 2%;
        text-align: center;
        width: 100%;
        height: 48px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        color: var(--red-dark);
    }
}
.team {
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        margin-bottom: 24px;
        @media screen and (max-width: 990px) {
            flex-direction: column;
            height: unset;
            align-items: flex-start;
            gap: 8px;
        }
        &_container {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &_title {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--gray-dark);
            display: flex;
            align-items: center;
            @media screen and (max-width: 990px) {
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 17.6px;
                letter-spacing: 2%;
            }
            ul {
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
                color: var(--gray-dark3);
                margin: 0;
                margin-left: 30px;
                @media screen and (max-width: 990px) {
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16.8px;
                    letter-spacing: 0%;
                }
            }
        }
        &_subTitle {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: var(--gray-dark3);
            @media screen and (max-width: 990px) {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 15.4px;
                letter-spacing: 0%;
            }
        }
    }
    &_invite {
        height: 50px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        gap: 6px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--green-dark);
        cursor: pointer;
        @media screen and (max-width: 990px) {
            height: 40px;
            padding: 0;
        }
    }
    &_navigation {
        width: 100%;
        height: 33px;
        background-color: var(--gray-light2);
        display: flex;
        align-items: center;
        padding: 0 72px 0 12px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        color: var(--gray-dark3);
        gap: 24px;
        @media screen and (max-width: 990px) {
            display: none;
        }
        &_1fr {
            flex: 1;
        }
        &_3fr {
            flex: 3;
        }
    }
    &_member {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 12px 0 12px;
        gap: 24px;
        height: 80px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        color: var(--gray-dark);
        @media screen and (max-width: 990px) {
            height: 60px;
            border-bottom: 1px solid var(--gray-light7);
            padding: 12px 0px;
        }
        &_container {
            display: flex;
            flex-direction: column;
            gap: 6px;
            &_title {
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 17.6px;
                text-align: left;
                color: var(--gray-dark);
            }
            &_subTitle {
                font-family: Inter;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.4px;
                text-align: left;
                color: var(--gray-dark3);
            }
        }

        &_foto {
            flex: 1;
            img {
                width: 100%;
                max-width: 56px;
            }
            @media screen and (max-width: 990px) {
                width: 36px;
                height: 36px;
                min-width: 36px;
                flex: unset;
            }
        }
        &_3fr {
            flex: 3;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: var(--gray-dark);
            @media screen and (max-width: 990px) {
                display: none;
            }
        }
        &_06fr {
            flex: 0.625;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media screen and (max-width: 990px) {
                flex: unset;
            }
        }
        &_settings {
            position: relative;
            &_opened {
                width: 36px;
                height: 36px;
                background-color: var(--gray-light2);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &_settingsMenu {
            position: absolute;
            width: 248px;
            height: 94px;
            border: 1px solid #f5f6f5;
            background-color: var(--white);
            padding: 12px 16px;
            border-radius: 12px;
            right: 50px;
            top: -12px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            &_item {
                width: 100%;
                height: 32px;
                display: flex;
                padding: 4px 4px;
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
                color: var(--gray-dark);
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 6px;
                border-radius: 4px;
                img {
                    width: 24px;
                    height: 24px;
                }
                &:hover {
                    background-color: var(--gray-light);
                }
            }
        }
    }
    &_basicInfo {
        display: none;
        @media screen and (max-width: 990px) {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 4px;
        }
        &_header {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        &_title {
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 15.4px;
            letter-spacing: 0%;
        }
    }
}
.invite {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    background: rgba(17, 16, 14, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;

    &_wrapper {
        width: 720px;

        background-color: var(--white);
        border-radius: 20px;
        padding: 34px 36px 36px 36px;
        position: relative;
        &_forgot {
            font-family: Inter;
            font-weight: 600;
            font-size: 14px;
            line-height: 16.8px;
            letter-spacing: 0%;
            color: var(--blue-dark);
            margin: 24px 0px;
        }
        &_header {
            font-family: Poppins;
            font-size: 28px;
            font-weight: 500;
            line-height: 33.6px;
            text-align: left;
            color: var(--gray-dark);
            width: 100%;
            margin-bottom: 34px;
            @media screen and (max-width: 768px) {
                font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                line-height: 21.6px;
                letter-spacing: 0%;
                text-align: center;
                margin-bottom: 12px;
            }
        }
        &_subHeader {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: var(--gray-dark);
            margin-bottom: 24px;
            @media screen and (max-width: 768px) {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 15.4px;
                letter-spacing: 0%;
            }
            span {
                font-family: Inter;
                font-size: 16px;
                font-weight: 600;
                line-height: 19.2px;
                text-align: left;
                color: var(--blue-dark);
                @media screen and (max-width: 768px) {
                    font-family: Inter;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 15.4px;
                    letter-spacing: 0%;
                }
            }
        }
        &_title {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            letter-spacing: 0.02em;
            text-align: left;
            color: var(--gray-dark);
            margin-bottom: 12px;
        }
        &_title2 {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 15.4px;
            text-align: left;
            color: var(--gray-dark3);
            display: flex;
            align-items: center;
            gap: 6px;
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            cursor: pointer;
            user-select: none;
        }
        &_input {
            width: 100%;
            height: 40px;
            min-height: 40px;
            padding: 0px 16px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            border: 1px solid var(--gray-light7);
            outline: none;
            margin-bottom: 8px;
            &:focus {
                border: 1px solid var(--black);
            }
            @media screen and (max-width: 768px) {
                margin-bottom: 0px;
            }
        }
        &_add {
            padding: 13.5px 22px 13.5px 16px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--green-dark);
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            margin-bottom: 24px;
            user-select: none;
            img {
                width: 24px;
                height: 24px;
            }
        }
        &_transfer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;
            @media screen and (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                gap: 24px;
                margin-bottom: 24px;
            }
            img {
                width: 56px;
                height: 56px;
            }
            &_user {
                display: flex;
                gap: 12px;
                align-items: center;
                &_container {
                    display: flex;
                    flex-direction: column;
                }
                &_header {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19.2px;
                    text-align: left;
                    color: var(--gray-dark);
                }
                &_subHeader {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.2px;
                    text-align: left;
                    color: var(--gray-dark);
                }
            }
        }
        &_buttons {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;
            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
            }
            &_cancel {
                flex: 1;
                height: 48px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 17.6px;
                letter-spacing: 0.02em;
                text-align: center;
                color: var(--gray-dark);
                border: 1px solid var(--gray-light7);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                cursor: pointer;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    min-height: 48px;
                }
            }
            &_save {
                flex: 1;
                height: 48px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 17.6px;
                letter-spacing: 0.02em;
                text-align: center;
                color: var(--white);
                background-color: var(--black);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    min-height: 48px;
                }
            }
        }
    }
    &_closeButton {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid var(--gray-light7);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 32px;
        right: 36px;
        margin-bottom: 0 !important;
        cursor: pointer;
    }
}
