.page {
    &_header {
        font-family: Poppins;
        font-weight: 500;
        font-size: 28px;
        line-height: 33.6px;
        letter-spacing: 0%;
        color: var(--black);
        margin-bottom: 12px;
    }
    &_types {
        display: flex;
        align-items: center;
        gap: 6px;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--gray-light7);
        margin-bottom: 24px;
        &_item {
            padding: 6px 16px;
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 16.8px;
            letter-spacing: 0%;
            color: var(--gray-dark);
            border-radius: 100px;
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 0%;
            color: var(--gray-dark3);
            cursor: pointer;
            user-select: none;
            white-space: nowrap;
            &_active {
                font-family: Inter;
                font-weight: 600;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0%;
                color: var(--gray-black);
                background-color: var(--gray-light7);
            }
        }
    }
    &_list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        @media screen and (max-width: 768px) {
            gap: 12px;
        }
        &_item {
            width: calc(33.33% - 10.7px);
            max-width: 360px;
            height: 100px;
            background-color: var(--white);
            min-height: 233px;
            padding: 24px;
            border-radius: 12px;
            cursor: pointer;
            @media screen and (max-width: 1200px) {
                width: calc(50% - 8.5px);
                max-width: unset;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            img {
                margin-bottom: 12px;
            }
            &_header {
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 17.6px;
                letter-spacing: 2%;
                color: var(--black);
                margin-bottom: 8px;
            }
            &_text {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 16.8px;
                letter-spacing: 0%;
                color: var(--gray-dark);
                height: 34px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 35px;
            }
            &_container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 16.8px;
                letter-spacing: 0%;
                color: var(--gray-dark3);
                span {
                    font-family: Reddit Sans;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: 2%;
                    color: var(--black);
                }
            }

            &_button {
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 17.6px;
                letter-spacing: 2%;
                text-align: center;
                padding: 12px 22px;
                border-radius: 10px;
                border: 1px solid var(--gray-light7);
                color: var(--gray-dark);
                cursor: pointer;
                user-select: none;
            }
        }
    }
}
.learnMore {
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    background: rgba(17, 16, 14, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;

    &_container {
        width: 560px;
        min-height: 200px;
        background-color: var(--white);
        border-radius: 20px;
        padding: 32px 36px 36px 36px;
        position: relative;
        @media screen and (max-width: 768px) {
            padding: 32px 48px 48px 48px;
            width: 90%;
            height: 90%;
            overflow: scroll;
            padding: 15px;
        }
        &_closeButton {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 1px solid var(--gray-light7);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 30px;
            right: 35px;
            margin-bottom: 0 !important;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                top: 15px;
                right: 15px;
            }
        }
        &_close {
            margin-bottom: 0 !important;
            @media screen and (max-width: 768px) {
                top: 15px;
                right: 15px;
            }
        }
        &_header {
            font-family: Poppins;
            font-weight: 500;
            font-size: 28px;
            line-height: 33.6px;
            letter-spacing: 0%;
            color: var(--gray-dark);
            margin-bottom: 34px;
            width: 100%;
            text-align: left;

            @media screen and (max-width: 768px) {
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                line-height: 100%;
                height: 34px;
                margin-top: 30px;
                text-align: left;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 12px;
            }
        }
        &_text {
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 16.8px;
            letter-spacing: 0%;
            color: var(--gray-dark);
            margin-bottom: 24px;

            @media screen and (max-width: 768px) {
                line-height: 21px;
                margin-bottom: 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
                margin-top: 12px;
                display: flex;
                justify-content: center;
            }
            @media screen and (max-width: 410px) {
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
                margin-top: 12px;
            }
            @media screen and (max-width: 400px) {
                font-size: 13.2px;
            }
        }
        &_fotoContainer {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 12px;
            }
        }
        &_foto {
            width: 375px;
            height: 215px;
            @media screen and (max-width: 768px) {
                width: 100%;
                height: auto;
            }
        }
        &_line {
            width: 80px;
            height: 5px;
            background-color: var(--gray-light3);
            border-radius: 45px;
            position: absolute;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
        }
        &_fotos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 12px;
            img {
                width: 100px;
                height: 64px;
                cursor: pointer;
            }
            @media screen and (max-width: 768px) {
                flex-direction: row;
            }
        }
        &_subText {
            padding: 6px 8px;
            background-color: var(--gray-light);
            gap: 6px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;
            color: var(--gray-dark);
            margin-bottom: 20px;
            margin-top: 10px;
            display: flex;
            align-items: flex-start;
            border-radius: 4px;
            @media screen and (max-width: 768px) {
                margin-top: 0px;
                margin-bottom: 0px;
                font-family: Inter;
                font-size: 12px;
                font-weight: 400;
                line-height: 13.2px;
                text-align: left;
            }
        }
        &_price {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 19.2px;
            letter-spacing: 0%;
            color: var(--gray-dark);
            &_each {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 16.8px;
                letter-spacing: 0%;
                color: var(--gray-dark3);
            }
            span {
                font-family: Reddit Sans;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 2%;
                color: var(--black);
                margin-left: 16px;
                @media screen and (max-width: 768px) {
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }
    &_sheetMain {
        position: relative;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 15px;
        left: 0;
        pointer-events: auto !important;
    }
    &_sheet {
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        overflow: hidden !important;
        box-shadow: none !important;
        height: 100% !important;
        top: 15px;
        pointer-events: auto !important;
    }
    &_closeArea {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_sheetContainer {
        box-shadow: none !important;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        overflow: hidden !important;
        padding: 0px 16px 0px 16px;
        @media screen and (max-width: 375px) {
            padding: 0px 12px 0px 12px;
        }
        &_top {
            min-height: 52%;
            width: 100%;
            padding-top: 35px;
            display: flex;
            align-items: center;
            flex-direction: column;
            @media screen and (max-width: 375px) {
                padding-top: 28px;
            }
        }
        &_bottom {
            min-height: 48%;
            width: 100%;
            padding-bottom: 16px;
            overflow: scroll;
        }
    }
}
