.notification {
  position: relative;
  min-height: 33px;
  width: 100%;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-align: center;

  font-family: "Poppins";
  font-weight: 400;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;

  line-height: normal;
  @media screen and (max-width: 640px) {
    padding: 3px 14px;
    min-height: unset;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 12px;
  }
}
.closeIcon {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.headerContainer {
  width: 100%;
  position: sticky;
  top: -33px;
  left: 0;
  z-index: 11;
  @media screen and (max-width: 640px) {
    top: -23.5px;
  }
}
.header {
  width: 100%;
  min-height: 62px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 48px;
  padding-right: 48px;
  &_isUser {
    justify-content: space-between;
  }

  &_logo {
    background-image: url(../../assets/images/Header/HeaderLogo.svg);
    width: 184px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  &_user {
    display: flex;
    align-items: center;
    &_logo {
      width: 31px;
      height: 31px;
      background-image: url(../../assets/images/Header/HeaderMobLogo.svg);
      margin-right: 53px;
    }
    &_logoOpenedSideBar {
      background-image: url(../../assets/images/Header/HeaderLogo.svg);
      width: 184px;
      height: 46px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-right: 53px;
    }
    &_searchContainer {
      position: relative;
    }
    &_search {
      display: flex;
      width: 456px;
      padding: 8px 16px;
      padding-left: 44px;
      align-items: center;
      border-radius: 40px;
      background: var(--gray-dark);
      outline: none;
      border: none;
      color: var(--gray-light3);
      font-family: "Poppins";
      font-weight: 400;
      font-size: 16px;
      position: relative;
      &_icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
      @media screen and (max-width: 1024px) {
        width: 90%;
        max-width: 256px;
      }
    }
  }
  &_profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_content {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      &_name {
        color: var(--white);
        font-family: Inter;
        font-weight: 400;
        font-size: 20px;
      }
      &_text {
        color: var(--gray-light3);
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
      }
    }
    &_image {
      width: 36px;
      height: 36px;
    }
  }
  @media screen and (max-width: 1024px) {
    min-height: 56px;
    padding-right: 33px;
    padding-left: 33px;
    &_logo {
      width: 31px;
      height: 31px;
      background-image: url(../../assets/images/Header/HeaderMobLogo.svg);
    }
  }
  @media screen and (max-width: 640px) {
    min-height: 48px;
    padding-right: 22px;
    padding-left: 22px;
    &_logo {
      width: 31px;
      height: 31px;
      background-image: url(../../assets/images/Header/HeaderMobLogo.svg);
    }
  }
}
