.projectsPage {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &_header {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: Poppins;
        font-size: 28px;
        font-weight: 500;
        line-height: 33.6px;
        text-align: left;
        color: var(--black);
        margin-bottom: 24px;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            height: unset;
        }
        @media screen and (max-width: 990px) {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            text-align: left;
        }
        &_text {
            display: flex;
            align-items: flex-end;
            gap: 10px;
            &_divider {
                min-width: 5px;
                min-height: 5px;
                height: 5px;
                margin: 0px 10px;
                background-color: var(--gray-dark3);
                border-radius: 50%;
            }
            p {
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
                color: var(--gray-dark3);
                display: flex;
                align-items: center;
                margin: 0;
                margin-bottom: 3px;
                @media screen and (max-width: 990px) {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.2px;
                    text-align: left;
                }
            }
        }
    }
    &_content {
        display: flex;
        align-items: center;
        gap: 8px;
        @media screen and (max-width: 1200px) {
            width: 100%;
        }
        @media screen and (max-width: 990px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }
    &_search {
        width: 400px;
        height: 48px;
        border-radius: 100px;
        padding: 6px 24px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border: none;
        outline: none;
        background-color: var(--gray-light2);
        border: 1px solid transparent;
        color: var(--gray-dark);
        @media screen and (max-width: 1300px) {
            width: 300px;
        }
        @media screen and (max-width: 1200px) {
            height: 40px;
            font-size: 16px;
            padding: 4px 16px;
            width: 100%;
            flex: 1;
        }
        @media screen and (max-width: 990px) {
            height: 48px;
            font-size: 16px;
            padding: 6px 24px;
            width: 100%;
            flex: 1;
        }
    }
    &_searchContainer {
        position: relative;
        flex: 1;
        @media screen and (max-width: 990px) {
            width: 100%;
        }
    }
    &_buttons {
        display: flex;
        gap: 8px;
        @media screen and (max-width: 990px) {
            width: 100%;
        }
    }
    &_searchIcon {
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--black);
        border-radius: 50%;
        opacity: 85%;
        cursor: pointer;
        @media screen and (max-width: 1200px) {
            height: 30px;
            width: 30px;
            img {
                width: 20px;
                height: 20px;
            }
        }
        @media screen and (max-width: 990px) {
            height: 36px;
            width: 36px;
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
    &_search::placeholder {
        color: var(--gray-dark2);
    }
    &_search:focus-within {
        background-color: var(--white);
        border: 1px solid var(--black);
    }
    &_lastDays {
        padding: 0px 22px 0 16px;
        height: 48px;
        border: 1px solid var(--gray-light7);
        background: var(--white);
        border-radius: 8px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--gray-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        cursor: pointer;
        position: relative;

        @media screen and (max-width: 1200px) {
            padding: 0px 16px 0 14px;
            font-size: 15px;
            gap: 4px;
        }
        @media screen and (max-width: 1150px) {
            height: 40px;
            font-size: 13px;
        }
        @media screen and (max-width: 990px) {
            flex: 1;
            padding: 0px 22px 0 16px;
            height: 48px;
            font-size: 16px;
        }
        &_container {
            width: 352px;
            height: 291px;
            background-color: var(--white);
            position: absolute;
            bottom: -296px;
            left: 0;
            border: 1px solid #f5f6f5;
            border-radius: 8px;
            padding: 12px 16px 16px 16px;
            overflow: hidden;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 12px;
            @media screen and (max-width: 990px) {
                left: unset;
                right: 0px;
            }

            &_item {
                width: 100%;
                min-height: 43px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                gap: 8px;
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
                color: var(--gray-dark);
                padding: 0 6px;
                padding-right: 28px;
                cursor: pointer;
                position: relative;
                &_info {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                }
                &_text {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.2px;
                    text-align: left;
                    color: var(--gray-dark);
                }
                &_title {
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14.4px;
                    text-align: left;
                    color: var(--gray-light5);
                }
                &:hover {
                    background-color: var(--gray-light);
                }
            }
        }
    }
    &_projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3.5px;
        &_divider {
            height: 1px;
            min-height: 1px;
            width: 100%;
            background-color: var(--gray-light7);
        }
    }
    &_projectHeader {
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        gap: 36px;
        background: var(--gray-light2);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--gray-dark3);
        padding: 0 12px;
        border-radius: 4px;
        margin-bottom: 4px;
        @media screen and (max-width: 1100px) {
            padding: 0 8px;
        }
        @media screen and (max-width: 990px) {
            display: none;
        }

        &_preview {
            min-width: 98px;
            height: 100%;
            border-radius: 7px;
            overflow: hidden;
            display: flex;
            align-items: center;
        }
        &_start {
            flex: 1;
            height: 100%;
            display: flex;
            gap: 12px;
            &_item {
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 6px;
                white-space: nowrap;
            }
        }
        &_info {
            flex: 1.35;
            height: 100%;
            display: flex;
            gap: 24px;
            @media screen and (max-width: 1100px) {
                gap: 18px;
                flex: 1;
            }
            @media screen and (max-width: 990px) {
                display: none;
            }
            &_request {
                flex: 1.35;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 6px;
                white-space: nowrap;
                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    overflow: hidden;
                }
                @media screen and (max-width: 1250px) {
                    flex: 1.35;
                    justify-content: center;
                }
                @media screen and (max-width: 1110px) {
                    flex: 0.8;
                }
            }
            &_item {
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;
                white-space: nowrap;
                @media screen and (max-width: 1250px) {
                    justify-content: center;
                    flex: 1.5;
                }
                @media screen and (max-width: 1110px) {
                    flex: 1.5;
                    justify-content: center;
                }
            }
            &_date {
                @media screen and (max-width: 1250px) {
                    display: none;
                }
            }
            &_settings {
                flex: 0.2;
                height: 100%;
                min-width: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}
.project {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.3s;
    @media screen and (max-width: 1100px) {
        padding: 12px 8px;
    }
    @media screen and (max-width: 990px) {
        padding: 12px 2px;
        gap: 8px;
    }
    &_start {
        flex: 1;
        height: 100%;
        // border: 1px solid red;
        display: flex;
        gap: 12px;
        @media screen and (max-width: 990px) {
            gap: 8px;
            align-items: center;
        }
        &_item {
            flex: 1;
            height: 100%;
            // border: 1px solid green;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 6px;
            &_option {
                font-family: Inter;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.4px;
                text-align: left;
                color: var(--gray-dark3);
                display: flex;
                align-items: center;
                gap: 2px;
                white-space: nowrap;
                @media screen and (max-width: 990px) {
                    width: 100%;
                    white-space: unset;
                }
                img {
                    width: 18px;
                    height: 18px;
                }
            }
            &_header {
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 17.6px;
                text-align: left;
                color: var(--gray-dark);
                @media screen and (max-width: 990px) {
                    font-size: 14px;
                }
            }
        }
    }
    &_info {
        flex: 1.35;
        height: 100%;
        // border: 1px solid green;
        display: flex;
        gap: 24px;
        @media screen and (max-width: 1100px) {
            gap: 18px;
            flex: 1;
        }
        @media screen and (max-width: 990px) {
            display: none;
        }
        &_request {
            flex: 1.35;
            height: 100%;
            // border: 1px solid green;
            display: flex;
            align-items: center;
            gap: 6px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;
            color: var(--gray-dark);
            img {
                width: 24px;
                min-width: 24px;
                height: 24px;
                border-radius: 50%;
                overflow: hidden;
            }
            @media screen and (max-width: 1100px) {
                justify-content: center;
                flex: 0.8;
                div {
                    display: none;
                }
            }
        }
        &_item {
            flex: 1;
            height: 100%;
            // border: 1px solid green;
            display: flex;
            align-items: center;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;
            color: var(--gray-dark);
            white-space: nowrap;
            @media screen and (max-width: 1100px) {
                justify-content: center;
                flex: 1.5;
            }
            @media screen and (max-width: 990px) {
                justify-content: flex-end;
            }
        }
        &_date {
            @media screen and (max-width: 1250px) {
                display: none;
            }
        }
        &_settings {
            flex: 0.2;
            height: 100%;
            // border: 1px solid green;
            min-width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        &_statusContainer {
            @media screen and (max-width: 1250px) {
                flex: 1.5;
                justify-content: center;
            }
        }
        &_status {
            width: 9px;
            height: 9px;
            border-radius: 2px;
            margin: 4.5px;
            background-color: var(--gray);
        }
    }
    &_img {
        max-width: 98px;
        min-width: 98px;
        min-height: 56px;
        border-radius: 7px;
        overflow: hidden;
        @media screen and (max-width: 1100px) {
            max-width: 83.5px;
            min-width: 83.5px;
            min-height: 47.5px;
            max-height: 47.5px;
            border-radius: 6px;
        }
    }
    &_credit {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-align: left;
        background-color: var(--black);
        color: var(--white);
        padding: 2px 8px;
        border-radius: 100px;
        white-space: nowrap;
        @media screen and (max-width: 990px) {
            font-size: 12px;
        }
    }
}
.filter {
    height: 48px;
    border: 1px solid var(--gray-light7);
    background: var(--white);
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--gray-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    position: relative;
    padding: 0px 22px 0 16px;
    @media screen and (max-width: 1200px) {
        padding: 0px 16px 0 14px;
        font-size: 15px;
        gap: 4px;
    }
    @media screen and (max-width: 1150px) {
        height: 40px;
        font-size: 13px;
    }
    @media screen and (max-width: 990px) {
        flex: 1;
        flex: 1;
        padding: 0px 22px 0 16px;
        height: 48px;
        font-size: 16px;
    }
    &_count {
        margin: 0 2px;
    }
    &_dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--gray-light5);
    }
    &_status {
        width: 12px;
        height: 12px;
        border-radius: 2px;
        margin: 4.5px;
        background-color: var(--gray);
    }
    &_container {
        width: 352px;
        height: 251px;
        background-color: var(--white);
        position: absolute;
        bottom: -256px;
        border: 1px solid #f5f6f5;
        border-radius: 8px;
        padding: 12px 16px 16px 16px;
        overflow: hidden;
        @media screen and (max-width: 1200px) {
            left: 0;
        }
        &_video {
            height: 315px;
            bottom: -321px;
            &_header {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                text-align: left;
                margin-bottom: 12px;
                padding-left: 6px;
                height: 35px;
                &_container {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                }
                span {
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.8px;
                    text-align: left;
                    color: var(--gray-dark3);
                }
            }
        }
        &_status {
            height: 391px;
            bottom: -396px;
            &_header {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                text-align: left;
                margin-bottom: 12px;
                padding-left: 6px;
                height: 35px;
                &_container {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                }
                span {
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.8px;
                    text-align: left;
                    color: var(--gray-dark3);
                }
            }
        }
        &_header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Poppins;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            text-align: left;
            margin-bottom: 16px;
            span {
                font-family: Inter;
                font-size: 14px;
                font-weight: 600;
                line-height: 16.8px;
                text-align: left;
                color: var(--blue-dark);
            }
        }
        &_divider {
            width: 100%;
            height: 1px;
            min-height: 1px;
            background-color: var(--gray-light7);
            margin-bottom: 12px;
            @media screen and (max-width: 990px) {
                margin-bottom: 0px;
            }
        }
        &_items {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            overflow: scroll;
            height: max-content;
        }
        &_videoItems {
            height: 225px;
            padding: 6px;
            @media screen and (max-width: 990px) {
                padding: 0px;
            }
        }
        &_statusItems {
            height: 301px;
            padding: 6px;
            @media screen and (max-width: 990px) {
                padding: 0px;
            }
        }
        &_item {
            width: 100%;
            min-height: 32px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: var(--gray-dark);
            padding: 0 6px;
            padding-right: 28px;
            cursor: pointer;
            position: relative;
            &_arrow {
                position: absolute;
                right: 2px;
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
            }
            &_img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                overflow: hidden;
            }
            &:hover {
                background-color: var(--gray-light);
            }
            span {
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
                color: var(--gray-dark);
            }
        }
        &_videoItem {
            gap: 8px;
            justify-content: flex-start;
        }
    }
}
.project:hover {
    background-color: var(--white);
}
.projectsPage_project:hover + .projectsPage_projects_divider,
.projectsPage_project:hover ~ .projectsPage_projects_divider:first-of-type {
    background: transparent !important;
}

.highlight {
    color: var(--green-dark2);
    font-weight: 700;
    background: var(--gray-dark3);
}

.dateRange {
    &_sheetMain {
        position: relative;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        backdrop-filter: blur(3px) !important;
        -webkit-backdrop-filter: blur(3px) !important;
        background: #11100e99 !important;
        pointer-events: auto !important;
    }
    &_closeArea {
        height: calc(100% - 290px);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: auto !important;
    }
    &_closeArea2 {
        height: calc(100% - 290px);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: auto !important;
    }
    &_line {
        width: 80px;
        height: 5px;
        background-color: var(--gray-light3);
        border-radius: 45px;
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
    }
    &_sheet {
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        overflow: hidden !important;
        box-shadow: none !important;
        height: 290px !important;
        pointer-events: auto !important;
    }
    &_sheet2 {
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        overflow: hidden !important;
        box-shadow: none !important;
        height: 310px !important;
        pointer-events: auto !important;
    }
    &_container {
        width: 100%;
        height: 100%;
        padding: 30px 16px 0px 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &_medium {
        &_container {
            height: 332px !important;
        }
        &_closeArea {
            height: calc(100% - 332px);
        }
    }
    &_high {
        &_container {
            height: 420px !important;
        }
        &_closeArea {
            height: calc(100% - 420px);
        }
    }
}

.mobOnly {
    display: none;
    @media screen and (max-width: 990px) {
        display: flex;
        margin-left: 10px;
    }
}
.overview {
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    background: rgba(17, 16, 14, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    &_general {
        margin-top: 36px;
        display: flex;
        gap: 36px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        &_timeline {
            width: 310px;
            min-width: 310px;
            @media screen and (max-width: 768px) {
                width: 100%;
                min-width: 100%;
            }
        }
        &_text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: var(--black);
            margin-bottom: 12px;
            position: relative;
            &_smallMargin {
                margin-bottom: 4px;
            }
            @media screen and (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
            }

            p {
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
                color: var(--gray-dark3);
                margin: 0;
            }
        }
    }

    &_container {
        width: 880px;
        height: 755px;
        background-color: var(--white);
        border-radius: 20px;
        padding: 30px 36px 30px 36px;
        position: relative;
        @media screen and (max-width: 768px) {
            padding: 32px 48px 48px 48px;
            width: 90%;
            height: 90%;
            overflow: scroll;

            padding: 15px;
        }
        &_closeButton {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 1px solid var(--gray-light7);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 24px;
            right: 36px;
            margin-bottom: 0 !important;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                top: 15px;
                right: 15px;
            }
        }
        &_close {
            margin-bottom: 0 !important;
            @media screen and (max-width: 768px) {
                top: 15px;
                right: 15px;
            }
        }
    }
    &_header {
        font-family: Poppins;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
        color: var(--black);
        display: flex;
        align-items: center;
        gap: 9px;
        margin-bottom: 30px;
        padding-right: 20px;
        @media screen and (max-width: 768px) {
            margin-top: 35px;
            margin-bottom: 16px;
            font-family: Poppins;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0%;
        }
    }
    &_info {
        display: flex;
        align-items: center;
        gap: 24px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        &_image {
            width: 390px;
            height: 226px;
            border-radius: 12px;
            @media screen and (max-width: 768px) {
                width: 100%;
                max-width: 420px;
                height: auto;
            }
        }
        &_content {
            height: 226px;
            flex: 1;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 768px) {
                width: 100%;
                height: auto;
            }
            &_item {
                width: 100%;
                margin-bottom: 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                line-height: 19.2px;
                letter-spacing: 0%;
                color: var(--gray-dark);
                p {
                    display: flex;
                    align-items: center;
                    margin: 0;
                }
                &_header {
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19.2px;
                    letter-spacing: 0%;
                    color: var(--gray-dark3);
                }
                &_copy {
                    width: 36px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--gray-light7);
                    border-radius: 50%;
                    cursor: pointer;
                    transition-duration: 0.1s;
                    margin-left: 6px;
                    &:hover {
                        background-color: var(--gray-light);
                    }
                }
            }
        }
    }
    &_stepsList {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: auto; /* Keeps scrolling */
        scrollbar-width: none; /* Hides scrollbar in Firefox */
        -ms-overflow-style: none;
        gap: 6px;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.8px;
        letter-spacing: 0.2%;
        color: var(--gray-dark);
        margin-top: 36px;
        min-height: 29px;
        &_item {
            padding: 6px 16px;
            white-space: nowrap;
            cursor: pointer;
            border-radius: 100px;
            user-select: none;
            width: max-content; /* Ensures the width adapts to content initially */
            white-space: nowrap; /* Prevents text from wrapping */
            &:hover {
                font-family: Inter;
                font-size: 14px;
                line-height: 16.8px;
                letter-spacing: 0%;
                background-color: var(--gray-light2);
            }
            &_selected {
                font-weight: 600;
                background-color: var(--gray-light2);
            }
        }
    }
}
.infoContainer {
    border-radius: 12px;
    padding: 16px 16px 24px 16px;
    margin-bottom: 12px;
    height: 360px;
    overflow: scroll;
    @media screen and (max-width: 768px) {
        border: none;
        padding: 0px;
        border-bottom: 1px solid var(--gray-light7);
        border-radius: 0px;
        padding-bottom: 24px;
        margin-bottom: 24px;
        height: unset;
        overflow: unset;
    }
    img {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    &_user {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &_header {
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--gray-dark);
        margin-bottom: 24px;
        @media screen and (max-width: 768px) {
            margin-bottom: 12px;
        }
        &_edit {
            width: 88px;
            height: 100%;
            border-radius: 100px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: var(--gray-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            &:hover {
                cursor: pointer;
                background-color: var(--gray-light);
            }
        }
        &_decline {
            padding: 6px 18px 6px 12px;
            display: flex;
            align-items: center;
            gap: 6px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            letter-spacing: 0.02em;
            text-align: left;
            color: var(--red-dark);
            border-radius: 10px;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                padding: 6px 12px;
                div {
                    display: none;
                }
            }
            &:hover {
                cursor: pointer;
                background-color: var(--gray-light);
            }
        }
        &_save {
            padding: 6px 18px 6px 12px;
            display: flex;
            align-items: center;
            gap: 6px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            letter-spacing: 0.02em;
            text-align: left;
            color: var(--green-dark);
            border-radius: 10px;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                padding: 6px 12px;
                div {
                    display: none;
                }
            }
            &:hover {
                cursor: pointer;
                background-color: var(--gray-light);
            }
            &_notReady {
                opacity: 0.5;
                cursor: not-allowed;
                &:hover {
                    cursor: not-allowed;
                    background-color: transparent;
                }
            }
        }
        &_buttons {
            display: flex;
            gap: 2px;
        }
    }
    &_text {
        display: flex;
        align-items: center;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        color: var(--black);
        margin-bottom: 12px;
        position: relative;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }

        &_time {
            font-family: Inter;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            line-height: 19.2px;
        }
        &_user {
            display: flex;
            align-items: center;
            gap: 6px;
        }
        p {
            min-width: 180px;
            width: 180px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: var(--gray-dark3);
            margin: 0;
        }
        span {
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 19.2px;
            text-align: left;
            display: flex;
            align-items: center;
        }
    }
    &_details {
        position: relative;
        overflow: hidden;
        width: 100%;
        transition-duration: 0.3s;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: var(--black);
        width: 415px;
        @media screen and (max-width: 768px) {
            width: unset;
        }
        &_expanded {
            height: 194px;
            overflow: scroll;
        }
        &_shadow {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 69.44%);
            width: 100%;
            height: 45px;
            position: absolute;
            left: 0;
            bottom: 20px;
            transition-duration: 0.3s;
            &_expanded {
                opacity: 0;
            }
        }
        &_showAll {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;
            color: var(--blue-dark);
            margin-top: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 4px;
            img {
                transition-duration: 0.3s;
                transform: rotate(90deg);
            }
            &_expanded {
                img {
                    transform: rotate(270deg);
                }
            }
        }
    }
    &_date {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 12px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        &_item {
            position: relative;
            width: 100%;
            border-radius: 6px;
            height: 44px;
            border: 1px solid var(--gray-light7);
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            display: flex;
            align-items: center;
            padding-left: 12px;
            color: var(--black);
            cursor: pointer;
            img {
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
    }
    &_thumbnails {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &_thumbnail {
        border: 1px solid var(--gray-light7);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;

        flex: 1;

        color: var(--gray-dark);
        position: relative;
        height: 40px;
        cursor: pointer;
        &_selected {
            border: 1px solid var(--green-dark2);
            box-shadow: 0 0 0 1px var(--green-dark2);
        }

        &_dot {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: var(--gray-light11);
            margin: 0 8px;
        }
    }
    &_priceItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        margin-bottom: 8px;
        p {
            font-family: Reddit Sans;
            font-size: 16px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0.02em;
            text-align: left;
            color: var(--gray-dark);
        }
        span {
            font-family: Reddit Sans;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: 0.02em;
            text-align: left;
            color: var(--gray-dark3);
        }
    }
    &_totalPrice {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;
        color: var(--black);
        p {
            font-family: Reddit Sans;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.02em;
            text-align: left;
            color: var(--blue-dark);
            margin: 0;
        }
        span {
            font-family: Reddit Sans;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.02em;
            text-align: left;
            color: var(--blue);
        }
    }
    &_divider {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 24px;
    }
    &_input {
        width: 100%;
        height: 35px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        border: 1px solid var(--gray-light7);
        outline: none;
        border-radius: 8px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        &:focus {
            border: 1px solid var(--black);
        }
    }
    &_textarea {
        width: 100%;
        height: 200px;
        padding: 16px 12px;
        border: 1px solid var(--gray-light7);
        outline: none;
        border-radius: 8px;
        resize: none;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        &:focus {
            border: 1px solid var(--black);
        }
    }
    &_statuses {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &_telepromptOptions {
        width: 100%;
        display: flex;
    }
}

.box {
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    user-select: none;
    border: 1px solid var(--gray-light8);
    min-height: 22px;
    height: 80px;
    padding: 0;
    margin-top: 8px;
    @media screen and (max-width: 768px) {
        gap: 2px;
        padding: 8px;
        padding-bottom: 24px;
        height: 71px;
    }
    &_title {
        display: flex;
        align-items: center;
        gap: 7px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 17.6px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--black);
        position: relative;
        min-height: 22px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;
        @media screen and (max-width: 768px) {
            min-height: 19px;
            word-spacing: 1px;
            letter-spacing: 0px;
            white-space: nowrap;
        }

        &_addOn {
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            text-align: left;
            background-color: var(--black);
            color: var(--white);
            padding: 2px 8px;
            border-radius: 100px;
        }
    }
    &_title2 {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
        color: var(--gray-dark);
        white-space: nowrap;
        &_submit {
            text-align: center;
        }
        br {
            display: none;
        }

        @media screen and (max-width: 768px) {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;
            white-space: unset;
            br {
                display: block;
            }
        }
        span {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;
            color: var(--gray);
            margin-left: 4px;
        }
    }
    &_text {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--gray-dark3);
        margin-bottom: 12px;
        @media screen and (max-width: 768px) {
            margin-bottom: 4px;
        }
    }
    &_subText {
        padding: 6px 8px;
        background-color: var(--gray-light);
        gap: 6px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        color: var(--gray-dark);
        margin-bottom: 20px;
        margin-top: 10px;
        display: flex;
        align-items: flex-start;
        border-radius: 4px;
        @media screen and (max-width: 768px) {
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 13.2px;
            text-align: left;
        }
    }
    &_header {
        padding: 16.5px 72px 19px 24px;
        width: 100%;
        position: relative;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        // border:1px solid red;
        @media screen and (max-width: 768px) {
            padding: 0px 0px 8px 44px;
            min-height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // gap: 2px;
        }
    }
    &_header2 {
        padding: 16.5px 72px 19px 72px;
        width: 100%;
        position: relative;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        @media screen and (max-width: 768px) {
            padding: 0px 0px 8px 44px;
            min-height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2px;
        }
        &_selected {
        }
    }
}

.learnMore {
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    background: rgba(17, 16, 14, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;

    &_container {
        width: 720px;
        height: 805px;
        background-color: var(--white);
        border-radius: 20px;
        padding: 32px 36px 48px 36px;
        position: relative;
        @media screen and (max-width: 768px) {
            padding: 32px 48px 48px 48px;
            width: 90%;
            height: 90%;

            padding: 15px;
        }
        &_closeButton {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 1px solid var(--gray-light7);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 30px;
            right: 35px;
            margin-bottom: 0 !important;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                top: 15px;
                right: 15px;
            }
        }
        &_close {
            margin-bottom: 0 !important;
            @media screen and (max-width: 768px) {
                top: 15px;
                right: 15px;
            }
        }
        &_testImage {
            width: 648px;
            height: 278px;
            @media screen and (max-width: 768px) {
                max-width: 400px;
                width: 100%;
                height: unset;
            }
            @media screen and (max-width: 390px) {
                width: 97%;
                height: unset;
            }
            @media screen and (max-width: 375px) {
                width: 90%;
            }
        }
        img {
            margin-bottom: 20px;
        }
        &_header {
            font-family: Poppins;
            font-size: 28px;
            font-weight: 500;
            line-height: 33.6px;
            text-align: center;

            font-family: Poppins;
            font-size: 28px;
            font-weight: 500;
            line-height: 33.6px;
            text-align: center;
            color: var(--gray-dark);
            margin-bottom: 34px;
            width: 100%;
            text-align: left;

            @media screen and (max-width: 768px) {
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                text-align: center;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 12px;
            }
        }
        &_line {
            width: 80px;
            height: 5px;
            background-color: var(--gray-light3);
            border-radius: 45px;
            position: absolute;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
        }
        &_text {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: var(--gray-dark);
            margin-bottom: 24px;

            @media screen and (max-width: 768px) {
                line-height: 21px;
                margin-bottom: 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
                margin-top: 12px;
                display: flex;
                justify-content: center;
                flex: 1;
            }
            @media screen and (max-width: 410px) {
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
                margin-top: 12px;
            }
            @media screen and (max-width: 400px) {
                font-size: 13.2px;
            }
        }
        &_subHeader {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            text-align: left;
            margin-bottom: 5px;
            color: var(--gray-dark);
            @media screen and (max-width: 768px) {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 19.2px;
                text-align: left;
                display: flex;
                align-items: center;
            }
            span {
                background-color: var(--blue-light);
                padding: 6px 8px;
                border-radius: 8px;
                margin-left: 8px;
                color: var(--blue-dark);
                font-family: Reddit Sans;
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0.02em;
                text-align: left;
                background-color: var(--black);
                color: var(--white);
                font-size: 16px;
                font-weight: 600;
                height: 24px;
                letter-spacing: 0.02em;
                line-height: 16px;
                padding: 4px 8px;
                text-align: left;
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    background-color: var(--black);
                    color: var(--white);
                    padding: 4px 8px;
                    height: 24px;
                }
            }
        }
        &_subText {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: var(--gray-dark);
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid var(--gray-light7);
            @media screen and (max-width: 768px) {
                font-size: 14px;
                line-height: 19px;
                padding-bottom: 12px;
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 15.4px;
                text-align: left;
            }
        }
    }
    &_sheetMain {
        position: relative;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 15px;
        left: 0;
        pointer-events: auto !important;
    }
    &_sheet {
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        overflow: hidden !important;
        box-shadow: none !important;
        height: 100% !important;
        top: 15px;
        pointer-events: auto !important;
    }
    &_closeArea {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_sheetContainer {
        box-shadow: none !important;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        overflow: hidden !important;
        padding: 0px 16px 0px 16px;
        @media screen and (max-width: 768px) {
            overflow-y: scroll !important;
        }
        @media screen and (max-width: 375px) {
            padding: 0px 12px 0px 12px;
        }
        &_top {
            min-height: 52%;
            width: 100%;
            padding-top: 35px;
            display: flex;
            align-items: center;
            flex-direction: column;
            @media screen and (max-width: 375px) {
                padding-top: 28px;
            }
        }
        &_bottom {
            min-height: 48%;
            width: 100%;
            padding-bottom: 16px;
            overflow: scroll;
        }
    }
}
