html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
html,
body {
  overflow-x: hidden;
}


#root {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
@media print {
  body {
    overflow-x: unset;
  }
  #root {
    overflow: unset;
    overflow-x: unset;
  }
  #pageContainer {
    overflow: unset;
    overflow-x: unset;
  }
  #PageHeader{
    display: none;
  }
  a{
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}